{% extends 'base.html.twig' %}

{% block body %}
    <h1>Currency edit</h1>

    <div class="col-md-6 col-lg-6">
        {{ form_start(edit_form) }}
        {{ form_row(edit_form._token) }}
        <div class="col-md-6 col-lg-12 form-group">
            <div class="error">{{ form_errors(edit_form.currency) }}</div>
            {{ form_widget(edit_form.currency, { 'type': 'text', 'attr': {'placeholder': 'Currency', 'class': 'form-control', 'id': 'currency'} }) }}
        </div>
        <br/>
        <div class="col-md-12">
            <input type="submit" value="Create" />
        </div>
        {{ form_end(edit_form) }}
    </div>
    <div class="col-md-6 col-lg-12">
        <ul>
            <li>
                <a href="{{ path('currencies_index') }}">Back to the list</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
