{% extends 'base.html.twig' %}

{% block body %}
    <h1>Currency</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ currency.id }}</td>
            </tr>
            <tr>
                <th>Currency</th>
                <td>{{ currency.currency }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('currencies_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('currencies_edit', { 'id': currency.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
