{% extends 'base.html.twig' %}

{% block body %}
    <h1>Certificate list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Isin</th>
                <th>Trading market</th>
                <th>Currency</th>
                <th>Issuer</th>
                <th>Issuing price</th>
                <th>Current price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for certificate in certificates %}
            <tr>
                <td><a href="{{ path('certificates_show', { 'id': certificate.id }) }}">{{ certificate.id }}</a></td>
                <td>{{ certificate.isin }}</td>
                <td>{{ certificate.tradingMarket }}</td>
                <td>{{ certificate.currency.currency }}</td>
                <td>{{ certificate.issuer }}</td>
                <td>{{ certificate.issuingPrice }}</td>
                <td>
                    {% if certificate.getLastPrice.price is defined %}
                        {{ certificate.getLastPrice.price }}
                    {% endif %}
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('certificates_show', { 'id': certificate.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('certificates_edit', { 'id': certificate.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('certificates_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
